body {
  background: black;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

header {
  flex: 1;
  padding: 20px;
  width: 20vw;
  min-width: 290px;
  padding: 30px;
}

article {
  background: black;
  flex: 3;
}

/* setting constraints for images, it guides flexbox spacing */
img {
  width: 100%;
  min-width: 290px
}

h1 {
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 4em;
  margin-top: 8vh;
}

#about {
  color: white;
  font-family: 'Noto Serif', serif;
  text-align: justify;
}

/* header keeps 290px in pages larger than 890px */
@media screen and (min-width: 890px) {
  header {
    max-width: 290px}
}
