body {
  background: black;
}

header {
  padding: 70px;
  min-width: 290px
}

img {
  width: 100%;
}

h1 {
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 4em;
  margin-top: 8vh;
}

#about {
  color: white;
  font-family: 'Noto Serif', serif;
  text-align: justify;
}

@media screen and (min-width: 850px) {
  header {position: fixed; background: black; width: 290px; height: 100%}
  article {margin-left: 450px}
} 
