body {
    background: black;
    color: white;
    display: block;
    text-align: center
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.5em;
    margin-top: 20vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
