body {
    background: black;
    color: white;
    text-align: center}

h1 {
    font-family: 'Archivo Black', sans-serif;
    widht: 50%
    font-size: 4em;
    text-align: center}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center}
